.container-footer {
    background-color: rgb(21, 113, 169);
    color: #fff;
    margin-top: 10px;

     h6 {
      margin-top: 10px;
      }
}

.row.row-footer {
    column-gap: 20px;
}

.row {
    --bs-gutter-x: 0;
}

@media (max-width:  577px) {
    .row-footer {
        text-align: center;
    }
}