@import "barraDeNavegacion";

.text-contacto {
    color: #fff;
    font-size: 32px;
    height: 400px;
    margin: 10px 0px 20px 0px;
    background-color:#050542;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
        width: 80%;
    }
  }

.SaberMas {
    
}

.form-group {
    margin: 10px 0px 10px 0px;
}
  