@import "barraDeNavegacion";
@import "footer";
%CentrarContenido {
    display: flex;
    justify-content: center;
    align-items: center;
}


.text-contacto {
    color: #fff;
    font-size: 32px;
    height: 400px;
    margin: 10px 0px 20px 0px;
    background-color:#050542;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
        width: 80%;
    }
  }


.form-group {
    margin: 10px 0px 10px 0px;
}

.SaberMas {
    background-image: url("../../Imagenes/Contacto.jpg");
    background-size: cover;
    color: #fff;
    p {
        margin: 80px 50px;
        font-size: 20px;

    }
    h2 {
        margin: 40px 0px;
        font-size: 40px;
        text-align: center;
    }
}

