@import "barraDeNavegacion";

.col.text-center {
    color: #fff;
    background-color:darkslategrey;
    height: 150px;
    display: grid;
    justify-content: center;
    align-items: center;
}

.container-h1 {
    font-size: 30px;
}


.col_2.text-center.bg-warning {
    color: #fff;
    font-size: 30px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.col_3 {
    float: left;
    width: 25%;
    padding: 20px;
}

@media screen and (max-width: 600px) {
    .centerBlock, .col_2 {
        font-size: 25px;
    }
    .container-h4 {
        font-size: 15px;
    }
}

@media screen and (max-width: 600px) {
    .col_3 {
      width: 100%;
    }
} 

@media screen and (max-width: 992px) {
    .col_3 {
      width: 50%;
      font-size: 20px;
    }
}
  
