@import "barraDeNavegacion";
@import "_footer";
 
main {
    background-color: rgb(1,45,84);
  }
  
  
  .bienvenido {
    background-image: url("../../Imagenes/Galaxia.gif");
    background-size: cover;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .title{
    color: rgb(230, 240, 227);
    border-top: 4px solid white;
    text-align: center;
    width: 71%;
    border-bottom: 4px solid;
    padding-bottom: 10px;
    letter-spacing: 14px; 
    
  }
  
  .bienvenido-h3 {
    font-size: 40px;
  }
  
  .expertos {
    height: 180px;
    width: 100%;
    flex-direction: column;
    display: flex;
    flex-wrap: nowrap;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #fff;
  }
  
  .expertos_div{
    color: rgb(1,45,84);
    font-size: 40px;
    margin: 14px 0px;
    border-bottom: 2px solid  rgba(0, 255, 255, 0.959);
    padding-bottom: 7px;
  }
  
  .expertos_span {
    color: rgba(0, 255, 255, 0.959);
    padding-bottom: 12px;
    border-bottom: 4px solid rgb(1,45,84);
  }
  
  .row.text-center {
    padding-top: 1em;
    column-gap: 1em;
  }
  
  .especialidad_text {
    color: #fff;
  }
  
  footer {
    background-color: white;
  }
  
   /* COMIENZO ANIMACIONES*/
  
  .title {
    animation: titulo 1s;
  
  }
  
  @keyframes titulo {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(1.1);
    }
  }
  
  @keyframes titulo {
    0% {
      opacity: 0;
      transform: translateY(-2000px);
      }
    100% {
      opacity: 1;
      transform: translateY(0);
      }
  }
  
  .creemos { 
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .creemos_div {
    animation: fadeInUp 1s;
    color: #fff;
    width: 90%;
    font-size: 40px;
    text-align: center;
    border-bottom: 4px solid rgba(0, 255, 255, 0.959);
    padding-bottom: 20px;
    letter-spacing: 15px;
  }
  
  @keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }
  
    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
  }
  
  @-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }
  
    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
  }
  
  @media (max-width:  415px) {
    .title-A {
      font-size: 20px;
    }

    .expertos_div {
      font-size: 30px;
    }
    .expertos_span {
      padding-bottom: 12px;
    } 
  }
  
  
  
  
  
  /* COMIENZO DE LA PRACTICA 
  
  .divpadre {
    width: 500;
    height: 300px;
    background-color: tomato;
  
    display: flex;
  
    flex-direction: row;
    flex-wrap:  wrap;
    justify-content: space-evenly;
  
    /* align-items: baseline;  
  
    align-content:space-between;
  }
  
  .hijo1, .hijo2, .hijo3, .hijo4 {
    height: 100px;
    width: 40%;
    background-color: springgreen;
  }
  
  .hijo2, .hijo4 {
    background-color: steelblue;
  }
  
  .father {
    display: grid;
    height: 500px;
  
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 200px 100px;
  
    grid-template-areas: "header header header"
                         "izquierda centro derecha"
                         "footer footer footer";
  
    grid-column-gap: 5px;
    grid-row-gap: 10px;
    background-color: gold;
  
    justify-items: center;
    align-items: end;
  
    align-content: space-around;
  } 
  
  .header {
    background-color: tan;
    grid-area: header;
  }
  
  .hijogrid1 {
    background-color: blue;
    grid-area: izquierda;
  }
  
  .hijogrid2 {
    background-color: cyan;
    grid-area: centro;
    align-self: center;
    justify-self: center;
  }
  
  .hijogrid3 {
    background-color: chocolate;
    grid-area: derecha;
  }
  
  .footer {
    background-color: rosybrown;
    grid-area: footer;
  }
  
  .footer_p {
    height: 400px;
    background-image: linear-gradient(to top, rgb(10, 73, 189), rgb(162, 0, 255));
  }
  
  
  */ 