@import "barraDeNavegacion";
@import "footer";
%CentrarContenido {
  display: flex;
  justify-content: center;
  align-items: center
}

p { 
    line-height: 1.5;
}

.btn {
  background-color: #4bc0dd;
}
  

  

.principal {
    height: 200px;
    flex-direction: column;
    background-color: rgb(1,45,84);
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
}
  
.pri{
    color: #fff;
    font-size: 40px;
    margin: 14px 0px;
    border-bottom: 2px solid  rgba(0, 255, 255, 0.959);
    padding-bottom: 10px;
}

.principal_span {
  color: rgba(0, 255, 255, 0.959);
  padding-bottom: 11px;
  border-bottom: 4px solid #fff;
}

.pri:hover {
  animation: princi 1s;
}

.card:hover {
  transform: scale(1.1);
  opacity: 0.6;
}

.container-Juntos {
  margin: 100px 0px;
}

.JuntosPodemos, .col {
  margin-top: 40px;
  padding: 0px 30px;

  .JuntosAsombroso {
    max-width: 500px;
    font-size: 65px;
    text-align: center;
    margin: auto;
  }
}

.Juntos-btn {
  @extend %CentrarContenido;
  width: 100%;

  .btn {
    width: 200px;
    height: 50px;
    font-size: 20px;
  }

  .btn:hover {
    background-color: rgb(92, 10, 92);
    color: #fff;
  }
} 

@keyframes princi {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}

.imgRedes {
  margin: 0px 5px;
}
