* { padding: 0px; margin: 0px; font-family: 'Open Sans', sans-serif; }

p { line-height: 1.5; }

a:visited { color: #ffffff; }

a:link { color: #fff; text-decoration: none; }

a:visited:hover { color: #fff; }

li:hover { border-bottom: 2px solid #ffa600; }

.menu { height: 55px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

header { background-color: #1571a9; position: -webkit-sticky; position: sticky; top: 0px; width: 100%; z-index: 3000; }

ul { list-style: none; font-size: 0; color: #977878; margin-bottom: 0rem; }

li { text-align: center; display: inline; padding: 15.5px 14px; font-size: 18px; }

ul ul { position: absolute; display: none; }

ul ul li { display: block; }

ul li:hover ul { display: block; }

@media (max-width: 600px) { ul { padding-left: 0; }
  ul li { font-size: 15px; } }

@media (max-width: 480px) { ul { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding-left: 0; }
  ul li { font-size: 13px; } }

.child_Espacio2-p, .child_Espacio3-p, .child_Espacio4-p { color: #000; width: 50%; display: -webkit-box; display: -ms-flexbox; display: flex; text-align: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.child_Espacio2-p p, .child_Espacio3-p p, .child_Espacio4-p p { width: 80%; }

.child_ImgDere { width: 500px; height: 400px; }

.child:hover { -webkit-box-shadow: 1px 1px 4px 4px rgba(0, 255, 255, 0.959); box-shadow: 1px 1px 4px 4px rgba(0, 255, 255, 0.959); }

.father { display: -ms-grid; display: grid; grid-gap: 20PX; -ms-grid-columns: 1fr; grid-template-columns: 1fr; -ms-grid-rows: 300px; grid-template-rows: 300px; grid-template-areas: "title title "; }

.title_child { color: #FFF; -ms-grid-row: 1; -ms-grid-column: 1; -ms-grid-column-span: 2; grid-area: title; background-color: #012d54; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

h1.title_child-h1 { border: 3px solid #FFF; text-align: center; padding: 10px; }

.Father_Espacio { height: 500px; display: -webkit-box; display: -ms-flexbox; display: flex; text-align: center; }

.Father_Espacio .child_Espacio-empresa { width: 50%; background-color: #FEF9E7; }

.Father_Espacio .child_Espacio-empresa .Espacio_h2 { color: #000; margin: 15px 0px; font-size: 20px; }

.Father_Espacio .child_Espacio-empresa .Espacio_div-img { height: 100%; }

.Father_Espacio .child_Espacio-empresa .child_ImgIzq { width: 500px; height: 400px; -webkit-box-shadow: -8px 8px 0px 4px #157CF0; box-shadow: -8px 8px 0px 4px #157CF0; }

.Father_Espacio .child_Espacio-p { color: #000; background-color: #157CF0; width: 50%; display: -webkit-box; display: -ms-flexbox; display: flex; text-align: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.Father_Espacio .child_Espacio-p p { width: 80%; }

.child_ImgDere { -webkit-box-shadow: 8px 8px 0px 4px #157CF0; box-shadow: 8px 8px 0px 4px #157CF0; }

.child_Espacio2-p { background-color: aquamarine; }

.child_Espacio3-p { background-color: #bedd4b; }

.child_Espacio4-p { background-color: #4bc0dd; }

.title_child-h1 { width: 700px; }

.title_child-h1 { -webkit-animation: titulo 1s; animation: titulo 1s; }

@-webkit-keyframes titulo { 0% { opacity: 0;
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px); }
  100% { opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@keyframes titulo { 0% { opacity: 0;
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px); }
  100% { opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@media (max-width: 780px) { .Father_Espacio { display: inline; }
  .Father_Espacio .child_Espacio-empresa { width: 100%; height: 500px; }
  .Father_Espacio .child_Espacio-empresa .Espacio_div-img .child_ImgIzq { width: 350px; height: 300px; }
  .Father_Espacio .child_Espacio-empresa .Espacio_h2 { margin: 0px; position: relative; top: 25px; }
  .Father_Espacio .Espacio_div-img { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; height: 400px; }
  .Father_Espacio .child_ImgDere { width: 350px; height: 300px; }
  .Father_Espacio .child_Espacio-p, .Father_Espacio .child_Espacio2-p, .Father_Espacio .child_Espacio3-p, .Father_Espacio .child_Espacio4-p { width: 100%; height: 500px; }
  h1.title_child-h1 { width: 350px; } }
/*# sourceMappingURL=estilosExperiencia.css.map */