* { padding: 0px; margin: 0px; font-family: 'Open Sans', sans-serif; }

p { line-height: 1.5; }

a:visited { color: #ffffff; }

a:visited:hover { color: #070047; }

a:link { color: #ffffff; text-decoration: none; }

.menu { height: 49px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

header { background-color: #1571a9; position: -webkit-sticky; position: sticky; top: 0px; width: 100%; z-index: 3000; }

header:hover { background-color: #4f3ee7; }

.menuEdit { border-left: 1px white solid; }

ul { list-style: none; font-size: 0; color: #977878; margin-bottom: 0rem; }

li { text-align: center; display: inline; padding: 0px 14px 0px 14px; font-size: 18px; border-right: 1px white solid; }

ul ul { position: absolute; display: none; }

ul ul li { display: block; }

ul li:hover ul { display: block; }

main { background-color: #012d54; }

.bienvenido { background-image: url("../../Imagenes/Galaxia.gif"); background-size: cover; height: 700px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.title { color: #e6f0e3; border-top: 4px solid white; text-align: center; width: 71%; border-bottom: 4px solid; padding-bottom: 10px; font-family: Verdana, Geneva, Tahoma, sans-serif; letter-spacing: 14px; }

.bienvenido-h3 { font-size: 40px; }

.expertos { height: 180px; width: 100%; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: nowrap; flex-wrap: nowrap; text-align: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; background-color: #fff; }

.expertos_div { color: #000000; font-size: 40px; margin: 14px 0px; border-bottom: 2px solid rgba(0, 255, 255, 0.959); padding-bottom: 8px; }

.expertos_span { color: rgba(0, 255, 255, 0.959); padding-bottom: 15px; border-bottom: 4px solid #000; }

.row.text-center { padding-top: 1em; }

.especialidad_text { color: #fff; }

footer { background-color: white; }

/* COMIENZO ANIMACIONES*/
.title { -webkit-animation: titulo 1s; animation: titulo 1s; }

@-webkit-keyframes titulo { from { -webkit-transform: scale(1); transform: scale(1); }
  to { -webkit-transform: scale(1.1); transform: scale(1.1); } }

@keyframes titulo { from { -webkit-transform: scale(1); transform: scale(1); }
  to { -webkit-transform: scale(1.1); transform: scale(1.1); } }

@keyframes titulo { 0% { opacity: 0;
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px); }
  100% { opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

.creemos { height: 700px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.creemos_div { -webkit-animation: fadeInUp 1s; animation: fadeInUp 1s; color: #fff; width: 90%; font-size: 40px; text-align: center; border-bottom: 4px solid rgba(0, 255, 255, 0.959); padding-bottom: 20px; font-family: Verdana, Geneva, Tahoma, sans-serif; letter-spacing: 15px; }

@keyframes fadeInUp { from { -webkit-transform: translate3d(0, 40px, 0); transform: translate3d(0, 40px, 0); }
  to { -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0);
    opacity: 1; } }

@-webkit-keyframes fadeInUp { from { -webkit-transform: translate3d(0, 40px, 0); transform: translate3d(0, 40px, 0); }
  to { -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0);
    opacity: 1; } }

@media (max-width: 415px) { .expertos_div { font-size: 35px; } }

/* COMIENZO DE LA PRACTICA  .divpadre { width: 500; height: 300px; background-color: tomato; display: flex; flex-direction: row; flex-wrap:  wrap; justify-content: space-evenly; /* align-items: baseline;   align-content:space-between; } .hijo1, .hijo2, .hijo3, .hijo4 { height: 100px; width: 40%; background-color: springgreen; } .hijo2, .hijo4 { background-color: steelblue; } .father { display: grid; height: 500px; grid-template-columns: 1fr 1fr 1fr; grid-template-rows: 100px 200px 100px; grid-template-areas: "header header header" "izquierda centro derecha" "footer footer footer"; grid-column-gap: 5px; grid-row-gap: 10px; background-color: gold; justify-items: center; align-items: end; align-content: space-around; }  .header { background-color: tan; grid-area: header; } .hijogrid1 { background-color: blue; grid-area: izquierda; } .hijogrid2 { background-color: cyan; grid-area: centro; align-self: center; justify-self: center; } .hijogrid3 { background-color: chocolate; grid-area: derecha; } .footer { background-color: rosybrown; grid-area: footer; } .footer_p { height: 400px; background-image: linear-gradient(to top, rgb(10, 73, 189), rgb(162, 0, 255)); } */
/*# sourceMappingURL=Estilos.css.map */